<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Olá, {{user.name}}!</h1>
    
    <p>Esta é sua página interna...</p>

    {{#if auth}}
    <p>Seus dados pessoais são</p>
    <ul>
        <li>
            Nome: {{user.name}}
        </li>
        <li>
            Sobrenome: {{user.surname}}
        </li>
        <li>
            Idade: {{user.age}}
        </li>
        <li>
            Email: {{user.email}}
        </li>
    </ul>

    <P>Lista de Preferências</P>
    <ul>
        {{#each listaFavoritos}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    {{else}}
    <p>Você não está autenticado! Logo, seus dados não aparecem!</p>
    {{/if}}
    <a href="/">Voltar para a página principal</a>


</body>
</html>