<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Voltar</a>
    <div class=""main-container-produto>
    <h1>{{product.title}}</h1>
    <p>R${{product.price}}</p>
    <p><b>Descrição do Produto:</b></p>
    <p><i>{{product.description}}</i></p>
    <div class="container-quantidade-vendida-comentarios">
        <p>Quantidade vendida{{product.number_buy}}</p>
        <p>Quantidade de Comentários{{product.comments}}</p>
    </div>
    
    </div>
     
</body>
</html>

