<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="product-detail">
    <a href="/">← Voltar</a>
    <h1>{{product.name}}</h1>
    <img src="{{product.image}}" alt="{{product.name}}">
    <p class="description">{{product.desc}}</p>
    <p class="price-big">Preço: R$ {{product.price}}</p>
    <button class="buy-btn">Adicionar ao Carrinho</button>
</div>

</body>
</html>





